*{
    margin: 0;
}
header{
    background-color: black;
    color: white;
}
.divhead{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40%;
    padding: 10px;
}
.h1head{
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.samolet{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    grid-template-columns: 1fr;
}
.laptop{
    position: absolute;
    top: 1400px;
    left: 480px;
}
.divi1{
    position: absolute;
    left: 200px;
    width: 295px;
    height: 239;
    background-color: white;
    color: blue;
    border-radius: 10px;
    text-align: center;
}
.divi2{
    position: absolute;
    left: 200px;
    top: 1550px;
    width: 295px;
    height: 239;
    background-color: white;
    color: blue;
    border-radius: 10px;
    text-align: center;
}
.divi5{
    background-color: white;
    color: blue;
    text-align: center;
    position: relative;
}
.blue{
    color: white;
    background-color: blue;
    padding: 10px 50px;
    border: 13px;
}
.son{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
footer{
    background-color: #222222;
    color: white;
}
.papa{
    align-items: center;
    justify-content: center;
    gap: 0px;
    display: flex;
}
.otec{
    background-color: white;
    width: 700px;
    color: black;
    margin-left: 480px;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.bblack{
    background-color: #ffffff;
}
.h1foot{
    text-align: center;
    padding: 20px;
}
input{
    width: 200px;
    height: 30px;
}
.orangeb{
    color: white;
    background-color: #ff671b;
    border-radius: 30px;
    padding: 10px;
    width: 100px;
}
.orange{
    color: #ff671b;
    background-color: #fff0e9;
    border-radius: 30px;
    width: 230px;
    padding: 10px;
}
.fblue{
    color: white;
    background-color: #598be0;
    border-radius: 30px;
    font-size: 60px;
    width: 200px;
    text-align: center;

}
.center{
    margin-left: 200px;
    color: blue;
}
.buttons{
    margin-left: 150px;
    gap: 20px;
    display: inline-block;
    justify-content: center;
}
.how{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.blackb{
    display: inline-block;
    color: blue;
    background-color: #222222;
    padding: 15px 60px;
}
.greyb{
    display: inline-block;
    color: blue;
    background-color: #eaebed;
    padding: 15px 50px ;
}
.images2{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.papaa{
    border: 1px solid ;
}
.grey{
    color: rgb(161, 161, 161);
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.imagess{
    text-align: center;
}
.divi4{
    position: absolute;
    left: 1000px;
    top: 1550px;
    width: 295px;
    height: 239;
    background-color: white;
    color: blue;
    border-radius: 10px;
    text-align: center;
}
.image2{
    background-color: #598be0;
    height: 40px;
    width: 40px;
}
.vnutr{
    padding: 10px;
    background-color: #ffffff;
    margin: 50px;
}
.vnutr2{
    border-top: 2px solid gray;
    padding: 10px;
    background-color: #ffffff;
    margin: 50px;
}
.bkgrey{
    border: 1px solid gray;  
}
.divi3{
    position: absolute;
    left: 1000px;
    top: 1400px;
    width: 295px;
    height: 239;
    background-color: white;
    color: blue;
    border-radius: 10px;
    text-align: center;
}
.earth{
    width: 100%;
    text-align: center;
}
.greyh1{
    text-align: center;
    padding: 30px;
}
.greysect{
    background-color: #222222;
    color: white;
}
.earth3d{
    display: flex;
    justify-content: center;
    gap: 0px;
}
.h1{
    text-align: center;
    padding: 30px;
}
.toto{
    position: absolute;
    left: 100px ;
    top: 430px;
}
.to{
    
    position: absolute;
    left: 1200px;
    top: 430px;
}
.bb{
    background-color: white;
    color: black;
    border-radius: 10px;
    
}
@media (max-width:768px){
    .eart{
        width: 356px;
        height: 360px;
    }
    .toto{
        display: none;
    }
    .to{
        display: none;
    }
    *{
        flex-wrap: wrap;
    }
    .otec{
        margin-left: 0px;
        flex-wrap: wrap;
        display: none;
    }
    .buttons{
        margin-left: 0px;
    }
    .center{
        margin-left: 80px;
    }
    .greysect{
        flex-wrap: wrap;
        display: none;
    }
}